@charset "UTF-8";
/* CSS Document */


html{
  background-color: rgb(185, 234, 218, 1);
 font-family: 'Lobster Two';
		color: pink;
		font-size: 30px;

	
}


h1{ font-size: 60px;
	
}


a {
		color: pink;

}
a:hover {
  color: white;
}
